<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin</title>
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"
    />
    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <header layout:fragment="header"></header>
    <main layout:fragment="content"></main>
  </body>
</html>
